<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9ab6">  <td>18/05/10 17:14:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonLogin.Close()[pri:0, instance:com.Gmail.tests.AmazonLogin@3e6fa38a]">&lt;&lt;Close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>18/05/10 17:14:04</td>   <td>-17322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonLogin.Search()[pri:0, instance:com.Gmail.tests.AmazonLogin@3e6fa38a]">Search</td> 
  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>18/05/10 17:14:11</td>   <td>-10496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonLogin.SecondResult()[pri:0, instance:com.Gmail.tests.AmazonLogin@3e6fa38a]">SecondResult</td> 
  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>18/05/10 17:13:54</td>   <td>-27444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonLogin.login()[pri:0, instance:com.Gmail.tests.AmazonLogin@3e6fa38a]">login</td> 
  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>18/05/10 17:13:52</td>   <td>-30263</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonLogin.setup()[pri:0, instance:com.Gmail.tests.AmazonLogin@3e6fa38a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
</table>
