<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Login</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>18/05/10 09:08:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login_Test.Close()[pri:0, instance:com.Gmail.tests.Login_Test@5c3bd550]">&lt;&lt;Close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/05/10 09:07:58</td>   <td>-7810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Test.Positive()[pri:0, instance:com.Gmail.tests.Login_Test@5c3bd550]">Positive</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/05/10 09:07:55</td>   <td>-10857</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login_Test.setup()[pri:0, instance:com.Gmail.tests.Login_Test@5c3bd550]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
</table>
